cmake-build-debug
cmake-build-debug/**/*
./cmake-build-debug
libwallet_kit_lib.dylib

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

./.idea
.idea
build
